<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block content %}
    {% for artigo in artigos %}
        {% if artigo.titulo == nome %}
    <title>{{ nome }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
</head>
<body>
    
    <div class="container">
        <h1>{{ artigo.titulo }}</h1>
        <img src="%static '{{ artigo.imagem }}'' %">
        <h6>{{ artigo.subtitulo }}</h6>
        <p>{{ artigo.corpo }}</p>
            {% endif %}
        {% endfor %}
    {% endblock %}
    </div>
</body>
</html>
