<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/estilo.css' now 'U' %}">
  <title>Treasure Map</title>
</head>
<body>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#mascot"><h1>Treasure Map</h1></a>
                </div>
        <div class="nav-list">
            <div class="hamburger"><div class="bar"></div></div>
            <ul>
            <li><a href="#o-que-e" data-after="O que é">LOREM</a></li>
            <li><a href="#tutorial" data-after="Tutorial">LOREM</a></li>
            <li><a href="#como-utilizar" data-after="Como utilizar">LOREM</a></li>
            <li><a href="#conclusao" data-after="Conclusão">LOREM</a></li>
            <li><a href="#referencias" data-after="Referências">Artigos</a></li>
            <li><a href="entrar"><img src="{% static 'imagens/pessoas.png' %}" alt="pessoas" style="width: 30px; height: 30px"> 
            </a></li>
        </ul>
    </div>
</div>
</div>