<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Treasure Map: Nunca foi tão fácil investir!</title>
    </head>

    <body>
        <h2>Qual o tipo da sua conta?</h2>
        <div id="cadastro1">
            <label for="cadastro1"></label>
            <a href="cadastroperfilcredor"><input type="submit" value="CREDOR"></a>
        </div>
        <br>
        <div id="cadastro2">
            <label for="cadastro2"></label>
            <a href="cadastrodevedor"><input type="submit" value="DEVEDOR"></a>
        </div>  
        <br>
        <div id="cadastro3">
            <label for="cadastro3"></label>
            <a href="cadastrodevedor"><input type="submit" value="AMPLO"></a>
        </div>       
    </body>
</html>    